<!-- Zone où les composants s'affichent -->
<!-- <router-outlet></router-outlet> -->
<nav>
  <ul>
    <li><a routerLink="/ngdocheck" routerLinkActive="active">ngDoCheck</a></li>
    <li><a routerLink="/ngonchanges" routerLinkActive="active">ngOnChanges</a></li>
    <li><a routerLink="/demo" routerLinkActive="active">demo ngaftercontent</a></li>
    <li><a routerLink="/ngafterview" routerLinkActive="active">demo ngaftercontent</a></li>

  </ul>
</nav>
<h1>Demo ViewChild 👀</h1>
<!-- <app-parent-view></app-parent-view> -->
<!-- Le composant correspondant au route s'affiche ici -->
<router-outlet></router-outlet>
